* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #080808;
    color: #fff;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(../img/luca-bravo-9l_326FISzk-unsplash.jpg);
    background-size: cover;
    background-position: center;
    
}

.header-text{
    margin-left: 400px !important;
    margin-top: 275px !important;
}

.container {
    padding: 10px 10%;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 5px 100px; 
    z-index: 100000;
    background: black;
}

.logo {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 60px;
    letter-spacing: 2px;
    transition: 0.6;
}

.kundan {
    display: inline;
    font-size: 60px;
    font-weight: bold;
    font-family: serif;
}

.kundan1 {
    color: #df0046;
    font-size: 60px;
    font-weight: bold;
    font-family: serif;
}
nav ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
position: relative;
list-style: none;
}

nav ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-left: 155px;
    margin-top: 20%;
    font-size: 30px;
}
.header-text p{
    font-weight: bold;
}
.header-text h1 {
    font-style: 60px;
    margin-top: 20px;
    position: absolute;
}

.india2 {
    color: #ff044f;
}

.india {
    -webkit-text-stroke: 2px;
    color: transparent;
    position: absolute;
}

.india1 {
    background-image: linear-gradient(#ff8000, #e3e3e3, #15ff00);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/* ---------------About Section ------------------ */

#about {
    padding: 100px 0;
    color: #ababab
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 55px;
    font-weight: 600;
    color: #fff;

}

.tab-title {
    display: flex;
    margin: 30px 0 30px;
    color: #fff;
}

.mywork {
    margin-left: 150px;
}

.tab-links {
    display: flex;
    margin-right: 50px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff044f;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-links {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #b54769;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* ------------------- Services Section ----------------- */

#services {
    padding: 30px 0;
}

.services-list {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
}

.services-list div {
    padding: 40px;
    background: #262626;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i {
    margin-bottom: 30px;
    font-size: 50px;
}

.services-list div h2 {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    margin-bottom: 20px;
    display: inline-block;
}

.services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    background-color: #ff004f;
    transform: translateY(-10px);
}

/* ------------------- Portfolio--------------------- */

#portfolio {
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin: 40px;
    padding: 30px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #ff044f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover {
    background: #ff004f;
}

/* ----------- Contect -----------  */

.contect-left {
    flex-basis: 35%;
}

.contect-right {
    flex-basis: 60%;
}

.contect-left p {
    margin-top: 30px;
}

.contect-left p i {
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    margin-right: 15px;
    font-size: 30px;
    text-decoration: none;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #ff004f;
    transform: translateY(-5px);
}

.btn.btn2 {
    display: inline-block;
    background: #ff044f;
}

.contect-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.submit{
    margin-left: 160px;
}
#demo{
    justify-content: space-between;
    display: inline;
    margin-left: 10px;
}

.containers {
    padding: 10px 10%;
    display: flex;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

/* ------------------ Animations ---------------- */
     /* Rainbow Animation */
.center {
    position: absolute;
    top: 33.6%;
    left: 16.8%;
    transform: translate(-50%, -50%);
    /* color: white; */
}

.center ul {
    padding: 0;
    margin: 0;
    position: relative;
    width: 245px;
    height: 190px;
    overflow: hidden;
    border-bottom: 1px solid rgba(0,0,0,.2);
    /* border-bottom: 1px solid rgb(255, 255, 255); */
}

.center ul li {
    list-style: none;
    border-radius: 50%;
    border: 15px solid #000;
    /* border: 15px solid #ffffff; */
    position: absolute;
    top: 100%;
    left: 50%;
    border-bottom-color: transparent !important;
    border-left-color: transparent !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* box-shadow: 0 0 10px rgba(255, 255, 255, 0.975); */
    animation: animate 5s infinite alternate;
    transform: translate(-50%, -50%);
}

.center ul li:nth-child(1) {
    width: 60px;
    height: 60px;
    border-color: #f00;
    animation-delay:0.2s ;
}

.center ul li:nth-child(2) {
    width: 90px;
    height: 90px;
    border-color: #FF7F00;
    animation-delay:0.4s ;
}

.center ul li:nth-child(3) {
    width: 120px;
    height: 120px;
    border-color: #FFFF00;
    animation-delay: 0.6s;
}

.center ul li:nth-child(4) {
    width: 150px;
    height: 150px;
    border-color: #00FF00;
    animation-delay:0.8s ;
}

.center ul li:nth-child(5) {
    width: 180px;
    height: 180px;
    border-color: #0000FF;
    animation-delay:1s ;
}

.center ul li:nth-child(6) {
    width: 210px;
    height: 210px;
    border-color: #4B0082;
    animation-delay: 1.2s;
}

.center ul li:nth-child(7) {
    width: 240px;
    height: 240px;
    border-color: #9400D3;
    animation-delay:1.4s ;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(315deg);
    }

}
